{% load i18n %}
{% load static %}

<div class="catalog">
    <div class="container">
        <h2>Каталог</h2>
        <ul class="contant list">
            {% for cat in catlist %}
            <li class="card">
                <a href="{% url 'one_category' id_category=cat.pk %}">
                    <img src="{{ cat.image.url }}" alt="Flowers">
                </a>
                <a href="{% url 'one_category' id_category=cat.pk %}" class="link">
                    {{ cat.name }}
                </a>
                {% if cat.has_child %}
                <span class="arrow_sub"></span>
                <ul class="sub_list">
                    {% for cat in cat.child %}
                    <li class="sub_card">
                        <a href="{% url 'one_category' id_category=cat.pk %}" class="sub_link">{{ cat.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>